	@model IEnumerable<Data.Entities.ProjectEntity>
@{
	ViewData["Title"] = "Projects";

	var addProjectForm = new Business.Models.AddProjectForm();
	var editProjectForm = new Business.Models.EditProjectForm();
}

<partial name="Partials/Sections/_AddProjectForm" model="addProjectForm" />
<partial name="Partials/Sections/_EditProjectForm" model="editProjectForm" />


<div class="heading-and-btn">
	<h2>@ViewData["Title"]</h2>
	<button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-blue btn-blue:hover btn-add">Add Project</button>
</div>

<section class="project-section">
	<div class="project-menu">
		<p>ALL [@Model.Count()]</p>
		<p>STARTED [0]</p>
		<p>COMPLETED [0]</p>
	</div>

	<div class="project-container">
		@foreach (var project in Model)
		{
			<div class="project-cards"
				 data-id="@project.Id"
				 data-name="@project.ProjectName"
				 data-client="@project.Client.ClientName"
				 data-description="@project.Description"
				 data-startdate="@project.StartDate.ToString("yyyy-MM-dd")"
				 data-enddate="@project.EndDate?.ToString("yyyy-MM-dd")"
				 data-budget="@project.Budget">

				<div class="project-card-flex">
					<img src="/Images/project-icon.svg" alt="Project Icon" />
					<div class="project-company-text">
						<h6>@project.ProjectName</h6>
						<p>@project.Client.ClientName</p>
					</div>
				</div>

				<p>@project.Description</p>

				<div class="project-options">
					<button class="btn-icon project-options-toggle" type="button">
						<i class="fa-solid fa-ellipsis-vertical"></i>
					</button>
					<div class="project-options-menu">
						<button type="button" class="project-option" data-action="edit">
							<i class="fa-solid fa-pen"></i> Edit Project
						</button>
						<button type="button" class="project-option delete" data-action="delete" data-id="@project.Id">
							<i class="fa-solid fa-trash"></i> Delete Project
						</button>
					</div>
				</div>
			</div>
		}
	</div>
</section>

	




